<section class="hero is-fullheight has-text-centered" id="contact">
    <div class="hero-body">
        <div class="container">
            <h3 class="is-size-5 is-uppercase has-text-weight-semibold has-text-black is-marginless">
                열어 볼 선물은...
            </h3>
            <a id="contact-button" href="{{site.url}}{{site.baseurl}}/blog"
                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined has-text-weight-semibold column is-two-fifths"
                target="_blank">
                희망과 꿈이 넘치는 선물
            </a>
            <a id="contact-button" href="https://m.rentalevent.com/web/product/big/201902/69b9ec1d7ba258ab064de8016baad0d6.jpg"
                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined has-text-weight-semibold column is-two-fifths"
                target="_blank">
                상냥하고 소중한 마음이 담긴 선물
            </a>
            <a id="contact-button" href="https://m.kanashop.kr/web/product/big/202104/741b91ec6da29b44ed9ac38eb5f14875.jpg"
                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined has-text-weight-semibold column is-two-fifths"
                target="_blank">
                화끈하고 기분 좋은 선물
            </a>
            <hr>
            <h3 class="is-size-5 is-uppercase has-text-weight-semibold has-text-black is-marginless">
                선물은 무료입니다 ㅎㅎ
            </h3>
            <div class="column is-full is-size-3">
            </div>
        </div>
    </div>
</section>
